# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual env
.venv/

# Cache
.cache/

# Output
output/

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store

# Database
*.db
*.db-shm
*.db-wal

# Env
.env

analyze.code-workspace

data